@charset "UTF-8";

body{
    margin: 0px;
}
header{
    padding-top: 10px;
    background-color: black;
    color: white;
    text-align: center;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(104, 14, 14);
}
main{
    color: black;
    line-height: 1.5em;

}

footer{background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}


